<ion-content>
<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Registration</ion-title>
  </ion-toolbar>
</ion-header>

<hr /> 

<ion-content>
  <div class = "container-fluid mb-5">
  <form #userForm = "ngForm">
    
    <div class = "form-group">
      <ion-label>First name</ion-label>
      <ion-input type="text" class = "form-control" name = "firstName" [(ngModel)] = userModel.firstname > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Last name</ion-label>
      <ion-input type="text" class = "form-control" name = "lastName" [(ngModel)] = userModel.lastname  > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Date of Birth</ion-label>
      <ion-input type="date" class = "form-control" name = "dateofBith" [(ngModel)] = userModel.dateofBirth > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Residential Address / Room Number</ion-label>
      <ion-input type="text" class = "form-control" name = "residentialAddress" [(ngModel)] = userModel.residentialAddress > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Cellphone Number</ion-label>
      <ion-input type="number" class = "form-control" name = "telNumber" [(ngModel)] = userModel.phonenumber > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Email</ion-label>
      <ion-input type="text" class = "form-control" name = "email" [(ngModel)] = userModel.email > </ion-input>
    </div>

    <div class = "form-group">
      <ion-label>Password</ion-label>
      <ion-input type="password" class = "form-control" name = "password" [(ngModel)] = userModel.password > </ion-input>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-content>
