ion-header{

    ion-icon{
        font-size: 30px;
        position:relative;
        margin-left: 10px;

}
#notifications-badge-msg{
    background-color: rgb(67,7,233);
    position: absolute;
    top: 5px;
    right: 95px;
    color: #fff;
    z-index: 111;

}
#notifications-badge{
    background-color: rgb(67,7,233);
    position: absolute;
    top: 5px;
    right: 50px;
    color: #fff;
    z-index: 111;
}
img{
    width: 35px;
    height:35px;
    border-radius: 50%;
    margin-right: 10px;

}
}

.main_content_div{
    width: 100%;
    padding: 20px;

    ion-label{
        display: block;
        margin-top: 20px;
        color: gray;

    }
    .square_div{
        background: whitesmoke;
        width: 100%; 
        height: 100px;
        position: relative;

    }

    .yellow{
        background: linear-gradient(to right, #3fc7cc, #49dddd);
    }
    ion-input{
        border: 1px solid lightgray;
        border-radius: 5px;
        --padding-start:8px;
        margin-top: 15px;

    }
    .gray_img{
        width: 80px;
        position: absolute;
        left: 36%;
        top:35%;
        transform: translate(-30%, -30%);
    }
}
    ion-input{
        border: 1px solid lightgray;
        border-radius: 5px;
        --padding-start:8px;
        margin-top: 15px;
        .text-black{
            color: black;
        }
    }
    ion-buttton{
        --background:linear-gradient( to right, #3fc7cc, #49dddd);
        --border-radius:5px;
        color: white;
        margin-top: 30px;

    }

ion-footer{
    ion-row{
        background:linear-gradient( to right, #3fc7cc, #49dddd);
        color: white;
        ion-col{
            &:last-child{
                text-align: end;


            }
        }
    
    }
}



