<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Registration</ion-title>
  </ion-toolbar>
</ion-header>

<hr /> 

<ion-content>
  <div class = "middle">
  <div class= "box">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <ion-label>FIRST_NAME: </ion-label>
      <ion-input [class.is-invalid]="FIRST_NAME.invalid && FIRST_NAME.touched" formControlName="FIRST_NAME" type="text" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="FIRST_NAME.invalid && FIRST_NAME.touched">
      <small [class.d-none]="FIRST_NAME.valid || FIRST_NAME.untouched" class="text-danger">Enter Your First Name</small>
    </div>
    </div>

    <div class="form-group">
      <ion-label>LAST_NAME: </ion-label>
      <ion-input formControlName="LAST_NAME" type="text" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="LAST_NAME.invalid && LAST_NAME.touched">
        <small [class.d-none]="LAST_NAME.valid || LAST_NAME.untouched" class="text-danger">Enter Your Last Name</small>
      </div>
    </div>

    <div class="form-group">
      <ion-label>Date of Birth: </ion-label>
      <ion-input formControlName="DATE_OF_BIRTH" type="date" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="DATE_OF_BIRTH.invalid && DATE_OF_BIRTH.touched">
        <small [class.d-none]="DATE_OF_BIRTH.valid || DATE_OF_BIRTH.untouched" class="text-danger">Input Your Birth Date</small>
      </div>
    </div>

    <div class="form-group">
      <ion-label>Room Number: </ion-label>
      <ion-input formControlName="RESIDENTIAL_ADDRESS" type="text" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="RESIDENTIAL_ADDRESS.invalid && RESIDENTIAL_ADDRESS.touched">
        <small [class.d-none]="RESIDENTIAL_ADDRESS.valid || RESIDENTIAL_ADDRESS.untouched" class="text-danger">Enter Your Room Number</small>
      </div>
    </div>

    <div class="form-group">
      <ion-label>Phone Number: </ion-label>
      <ion-input formControlName="CONTACT_NUM" type="integer" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="CONTACT_NUM.invalid && CONTACT_NUM.touched">
        <small [class.d-none]="CONTACT_NUM.valid || CONTACT_NUM.untouched" class="text-danger">Enter Your Phone Number</small>
      </div>
    </div>

    <div class="form-group">
      <ion-label>EMAIL: </ion-label>
      <ion-input formControlName="EMAIL" type="email" fill="outline" class="form-control">
      </ion-input>
    </div>

    <div class="form-group">
      <ion-label>PASSWORD: </ion-label>
      <ion-input formControlName="PASSWORD" type="password" fill="outline" class="form-control">
      </ion-input>
      <div *ngIf="registrationForm.get('PASSWORD')!.invalid && registrationForm.get('PASSWORD')!.touched">
        <small [class.d-none]="registrationForm.get('PASSWORD').valid || registrationForm.get('PASSWORD').untouched" class="text-danger">Create PASSWORD</small>
      </div>
    </div>

    <div class="form-group">
      <ion-label>Confirm PASSWORD: </ion-label>
      <ion-input [class.is-invalid]="registrationForm.errors?.['misMatch']!" formControlName="confirmPASSWORD" type="PASSWORD" fill="outline" class="form-control">
      </ion-input>
      <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']!"> PASSWORD do not Match</small>
</div>
      <ion-button class="btn btn-primary" type="submit">Signup</ion-button>
    
  </form>
</div>
</div>
</ion-content>