<ion-content>
  <div class="img">
    <div class="top">
      <div class="back_div">
        <ion-icon name="arrow-back-outline" color="light"></ion-icon>
        <ion-icon name="star-outline" color="light" id="end"></ion-icon> 
      </div>
    </div>

    <div class="bottom">
      <div class="first">
        <img src="../../../assets/caterer/Screenshot_20240117-111736_Instagram.jpg"/>
      </div>

      <div class="second">
        <h4>
          Nonsikelelo Nxumalo
        </h4>
        <p>
          Sandla, Mbabane
        </p>
        <p>
          4.8 <ion-icon name="star-outline"> (208 Reviews)</ion-icon>
        </p>
      </div>
      </div>
    
    <img id="myimg" src="../../../assets/food/Moroccan252520Beef252520Stew252520above.jpg"/>
  </div>

  <div class="menu">
  <div class="menudiv">
    <ion-icon name="chatbubble-outline">
    </ion-icon>
    <p>
      message
    </p>
  </div>
  
  <div class="menudiv">
    <ion-icon name="call">
    </ion-icon>
    <p>
      call
    </p>
  </div>

  <div class="menudiv">
    <ion-icon name="map-outline">
    </ion-icon>
    <p>
      directions
    </p>
  </div>

  <div class="menudiv">
    <ion-icon name="share-outline">
    </ion-icon>
    <p>
      share
    </p>
  </div>
  </div>

  <div class="ch-menu">
    <p>Caterer Menu</p>
    <div class="wrapper">
      <div class="item" *ngFor="let item of user">
        <img id="img" src="../../../assets/food/{{item.image}}"/>

      </div>

    </div>
  </div>

  
</ion-content>