<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sibongimphilo Shongwe</ion-title>
    <ion-buttons slot ="end">
    <ion-button (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="caterer-box">
  <div class="upper-box">
  <div class="img">
    <img src="../../../../assets/PSX_20220717_175501.jpg"/>
  </div>
  <div class="name-text">
    <h5>Sibongimphilo Shongwe</h5>
    <p>Sandla, Mbabane</p>
    <p><ion-icon name="star"></ion-icon> <span>4.8</span> (208 Reviews)</p>
    <p>08:30 AM - 09:00 PM</p>
  </div>
    <div class="hour-text">
      <p class="ion-text-end">1.0 km<ion-icon color="red" 
        name="ellipsis-vertical-outline"></ion-icon></p>
       
    </div>
  </div>

  </div>
</ion-content>
  