<ion-header >
  <ion-toolbar color = "secondary">
    <ion-buttons slots = "start" class="menu_btn" >
      <ion-back-button color="light" defaultHref="home">
        </ion-back-button>
        <ion-title>Payment History</ion-title>
        <ion-icon name = "notifications" slot="end"></ion-icon>
        <ion-badge id= "notifications-badge-msg" color="danger"></ion-badge>

        <a href="order">
        <ion-icon name="cart" slot="end" color="light"> </ion-icon>
        </a>
        <ion-badge id = "notifications-badge" color="danger"></ion-badge>
        <a href="person">
        <img slot = "end" src="../../../assets/PSX_20220717_175501.jpg"/>
        </a>
        </ion-buttons>
  </ion-toolbar>
</ion-header>