<ion-header >
  <ion-toolbar color = "secondary">
    <ion-buttons slots = "start" class="menu_btn" >
      <ion-back-button color="light" defaultHref="order">
        </ion-back-button>
        <ion-title>Payment History</ion-title>
        </ion-buttons>
        

        <ion-icon name = "notifications" slot="end" (click)="notificationModal($event)"></ion-icon>
        <ion-badge id= "notifications-badge-msg" color="danger">2</ion-badge>

        <ion-icon name="cart" slot="end"> </ion-icon>
        <ion-badge id = "notifications-badge" color="danger">5</ion-badge>
        
        <img slot = "end" src="../../../assets/PSX_20220717_175501.jpg" (click)="presentModal($event)" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let payment of payment">
    <p id="date">{{payment.date}}</p>

    <div class="upperBox" *ngFor="let item of payment.transactions">
      <div class="img">
        <img src="../../../assets/food/{{item.image}}"/>
      </div>

      <div class="title">{{item.title}}</div>
      <div class="price">E{{item.amount}}</div>
      <div class="transId">Transaction ID: #{{item.transId}}</div>
      <div class="time">{{item.time}}</div>
      <div class="mobilePayment">{{item.mobilePayment}}</div>
      <div class="status" [ngStyle]="{'color':(item.status==='SUCCESS')?'green':(item.status==='FAILED')?'red':'orange'}">{{item.status}}</div>
      
    </div>
  </div>
</ion-content>