
.heading{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 0rem;
}

.erro-warning{
    margin: 10px;
    p{
        color: red;
    }
}
.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    ion-input{
        margin-top: -12px;
    }
}
.ion-item{
    margin-top: 20px;
}

.custom-button {
  border: 1px solid #000; /* Adjust the color and size as needed */
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
 // background-color: var(--ion-color-primary); 
  }
  .checkout-button{
    border: 1px solid #000; /* Adjust the color and size as needed */
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 1.8rem;
    margin-top: 3rem;
    background-color: var(--ion-color-primary); 
    color: var(--ion-color-step-100);
    margin-bottom: 1rem;
  }
 .payment{
    margin-top: 2rem;
 }

 ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;
  --color: #ddd;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color:  var(--ion-color-primary);
}

.cart-content{
  padding-top: 6rem;
.empty-cart {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c7c7c7;

  ion-icon {
    font-size: 8rem;
  }

  p {
    font-size: 1.8rem;
  }
}
.shop-button {
  border: 1px solid #000; /* Adjust the color and size as needed */
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 1.8rem;
  margin-top: 4rem;
  color: #000;
}
}

.bottom-item{
  margin-bottom: 2rem;
}

.no-border {
  --border-width: 0;
}

sup {
  font-size: 0.7rem;
  //margin-right: -0.5rem;
}

strong{
  sup {
    font-size: 0.5rem;
    //margin-right: -0.5rem;
  }
}

.paypal{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.radio-payment{
  margin: 1rem 2rem 1rem 2rem;
}

