<ion-content>
  <div class="upper">
    <div class="icon">
      <ion-icon name="restaurant"></ion-icon>
    </div>
    <p id="login">ECOT Food Corner</p>
  </div>
  <div class="middle">
    <div class="box">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>Please Login to Your Account</p>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" formControlName="EMAIL"  placeholder="Email" name="EMAIL" ></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="mail"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="type ? 'password' : 'text'" formControlName="PASSWORD" placeholder="Password" name="PASSWORD" ></ion-input>
          <ion-icon class="ion-align-self-center" name="eye-outline" slot="end"  (click)="changeType()"
          [name]="type ? 'eye' : 'eye-off'"></ion-icon>
        </ion-item>
 
        <ion-item>
          <select class = "form-select" id="floatingSelect" aria-label="role" name="role" formControlName="ROLES" >
            <option *ngFor="let r of roles" [value] = "r"> {{r}} </option>
          </select>

          <ion-label for="floatingSelect"> Role </ion-label>
          
        </ion-item>

        <p id="forgetPassword" (click)="goToForget()"> Forget Password</p>
        <div class="btn">

          <ion-button class="btn btn-primary" type="submit">Login</ion-button>
        </div>
      </form>
      <p id="media"> Or Login using Social Media</p>
      <div class="socialMedia">
        <ion-icon name="logo-facebook" (click)="facebookLogin()"></ion-icon>
        <ion-icon name="logo-twitter" (click)="twitterLogin()"></ion-icon>
        <ion-icon name="logo-google" (click)="gmailLogin()"></ion-icon>
      </div>
      <div class="touchLogin" (click)="touchLogin()">
        <ion-icon name="finger-print-outline"></ion-icon>
        <p>Sign In Using Touch ID</p>
      </div>
      <div class="faceLogin" (click)="faceLogin()">
        <ion-icon name="eye-outline"></ion-icon>
        <p> Sign In With Face ID</p>
      </div>
    </div>
  </div>
  <div class="navigator">
    <p (click)="goToRegistration()">Don't have an Account ? Register Now</p>
  </div>



</ion-content>