<ion-content>
  <ion-header>
    <ion-toolbar color = "danger">
      <ion-buttons slot="start">
        <ion-back-button color = "light" defaultHref = "login"></ion-back-button>
      </ion-buttons>
      <ion-title>Caterer Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <hr />

  <ion-content>
    <div class = "container-fluid mb-5">
      <form #userForm = "ngForm">
        
        <div class = "form-group">
          <ion-label>First name</ion-label>
          <ion-input type="text" class = "form-control" name = "firstName"  > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Last name</ion-label>
          <ion-input type="text" class = "form-control" name = "lastName" > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Business Name</ion-label>
          <ion-input type="text" class = "form-control" name = "businessName" > </ion-input>
        </div>

        <div class = "form-group">
          <ion-label>Date of Birth</ion-label>
          <ion-input type="date" class = "form-control" name = "dateofBith" > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Residential Address </ion-label>
          <ion-input type="text" class = "form-control" name = "residentialAddress" > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Cellphone Number</ion-label>
          <ion-input type="number" class = "form-control" name = "telNumber" > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Email</ion-label>
          <ion-input type="text" class = "form-control" name = "email" > </ion-input>
        </div>
    
        <div class = "form-group">
          <ion-label>Password</ion-label>
          <ion-input type="password" class = "form-control" name = "password" > </ion-input>
        </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
    </div>
  </ion-content>