<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot = "start" class="menu_btn" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  <ion-title>
    settings
  </ion-title>
  <ion-icon name="notifications" slot="end" (click)="notificationModal($event)"></ion-icon>
  <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
  
  <ion-icon name="cart" slot="end"></ion-icon>
  <ion-badge id="notifications-badge" color="danger">5</ion-badge>
  
  <img slot="end" src="../../../assets/PSX_20220717_175501.jpg" (click)="presentModal($event)"/> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>notification settings</h4>
  <ion-list>
    <ion-item>
     <ion-label>Application notifications</ion-label>
     <ion-toggle color="danger" mode="ios" [(ngModel)]="setting.appSetting" (ionChange)="changeApp($event)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>SMS & email notifications</ion-label>
      <ion-toggle color="warning" mode="ios" [(ngModel)]="setting.sms" (ionChange)="changeSms($event)"></ion-toggle>
     </ion-item>

     <ion-item>
      <ion-label>Special offers</ion-label>
      <ion-toggle color="secondary" mode="ios"[(ngModel)]="setting.offer" (ionChange)="changeOffer($event)"></ion-toggle>
     </ion-item>

     <ion-item line="none" (ionChange)="changeReminder($event)">
      <ion-label>Dish reminder</ion-label>
      <ion-select mode="ios" interface="action-sheet" [(ngModel)]="setting.reminder" value="5 minutes" okText="Ok" cancelText="Dismiss">
        <ion-select-option value="5 minutes">5 minutes</ion-select-option>
        <ion-select-option value="15 minutes">15 minutes</ion-select-option>
        <ion-select-option value="45 minutes">45 minutes</ion-select-option>
      </ion-select>
     </ion-item>
  </ion-list>
  
  <h4>Access Control</h4>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon color="danger" name="finger-print-outline"></ion-icon>Touch ID
      </ion-label>
      <ion-toggle mode="ios" (ionChange)="changetouchId($event)" [(ngModel)]="setting.touchId"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon color="danger" name="person-circle-outline"></ion-icon>Face ID
      </ion-label>
      <ion-toggle mode="ios" (ionChange)="changefaceId($event)" [(ngModel)]="setting.faceId"></ion-toggle>
    </ion-item>
    
  </ion-list>

  <div>
    <img src="../../../assets/Feedback.JPG"/>
    <p>Version 1.0.3</p>
  </div>
</ion-content>