<ion-header >
  <ion-toolbar color = "secondary">
    <ion-buttons slots = "start" class="menu_btn" >
      <ion-back-button color="light" defaultHref="caterer-details">
        </ion-back-button>
        <ion-title>Cart</ion-title>
        <ion-icon name = "notifications" slot="end"></ion-icon>
        <ion-badge id= "notifications-badge-msg" color="danger">2</ion-badge>

        <a href="order">
        <ion-icon name="cart" slot="end" color="light"> </ion-icon>
        </a>
        <ion-badge id = "notifications-badge" color="danger">5</ion-badge>
        <a href="person">
        <img slot = "end" src="../../../assets/PSX_20220717_175501.jpg"/>
        </a>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox" *ngFor="let order of orders; let i = index">
    <div class="image">
      <img src="../../../assets/food/{{order.image}}" />
    </div>
    <div class="title">
      <h3>{{order.title}}</h3>
    </div>
    <div class="menu">
      <h3>
        <ion-icon name="trash-outline" (click)="deleteItem(order.id)"></ion-icon>
      </h3>
    </div>
   
    <div class="amount">
      <h3>E{{order.amount | number : '1.2-2'}}</h3>
    </div>

    <div class="time">

    </div>
    <div class="edit">
      <div class="wrapper">
        <span class="minus" (click)="remove(i)">-</span>
        <span class="num">{{order.qty}}</span>
        <span class="plus" (click)="add(i)">+</span>
      </div>
    </div>
  </div>
  <p id="moreItems" (click)="moreItems()">+ Add more items</p>
  <!-- {{total_amt + (total_amt/10) -1}} -->


</ion-content>

<ion-footer >
  <ion-toolbar color="dark">
    <ion-row >
      <ion-col size="7">
        <ion-text color="light">
          <h4>Total : E{{total_amt | number : '1.2-2'}}</h4>
          
        </ion-text>
      </ion-col>
 
      <ion-col size="5">
        <p class="ion-text-right ion-padding-end" (click)="orderDetails()" ><a href="checkout" color="light">Continue <ion-icon name="arrow-forward-outline"> </ion-icon> </a></p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>