ion-content{
    .middle{
        padding: 20px;
    .box{
            border-radius: 10px;
            height:auto;
            background: #fff;
            padding:20px;

    ion-input[type=text]{
        
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .form-group{
        .text-danger{
            color: red;
        }
    }
    }
}
    }
