<ion-header >
  <ion-toolbar color = "danger">
    <ion-buttons slots = "start" class="menu_btn" >
      <ion-back-button color="light" defaultHref="login">
        </ion-back-button>
        <ion-title>Profile</ion-title>
        </ion-buttons>
        

        <ion-icon name = "notifications" slot="end" ></ion-icon>
        <ion-badge id= "notifications-badge-msg" color="danger">2</ion-badge>

        <ion-icon name="cart" slot="end"> </ion-icon>
        <ion-badge id = "notifications-badge" color="danger">5</ion-badge>
        
        <img slot = "end" src="../../../assets/PSX_20220717_175501.jpg" />
  </ion-toolbar>
</ion-header>

<ion-content>
<div class = "top">
  <div class = "image">
    <img src = "../../../assets/PSX_20220717_175501.jpg" />
  </div>
  <div class = "desc">
    <h3> Mphilo Shongwe</h3>
    <p> mphiloshongwe@gmail.com</p>
    
  </div>
  <div class = "edit">
    <ion-button color = "danger">Edit</ion-button>

    
  </div>


</div>

<div class="upperBox">
  <ion-list>
    <ion-item>
      <img src ="../../../assets/Settings.JPG">
      <ion-label>App Settings</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/Feedback.JPG">
      <ion-label>App feedback</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/About.JPG">
      <ion-label>About</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/Orders.JPG">
      <ion-label>My orders</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/Favourite.JPG">
      <ion-label>My favourite</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/Payment.JPG">
      <ion-label>Payment History</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <img src ="../../../assets/Logout.JPG">
      <ion-label>Logout</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  

</div>
</ion-content>